<!DOCTYPE html>
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        title Document
    body
        h1.title 令和
        p.mainText 師の老の宅に萃まりて宴会を申く。時に初春の
            span.red 令
            | 月にして、気淑く風
            span.red 和
            | ぎ、梅は鏡前の粉を披き、蘭は珮後の香を薫らす。
        .imageWrapper
            img(src="./images/suga.png", alt="元号を発表する人のイラスト（令和）")


