@use 'node_modules/ress/ress.css';

.title {
  text-align: center;
  margin-top: 3em;
}

.mainText {
  text-align: center;
}

.red {
  color: red;
}

.imageWrapper {
  margin-top: 6em;
  text-align: center;
}
